.container {
  height: 100%;
  width: 100%;
}
.container > h2 {
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  gap: 6rem;

}

@media screen and (max-width: 765px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 85%;
    margin: 0 auto;
    margin-top: 2.5rem;
    gap: 20px;
  }
}